language: android
jdk:
- oraclejdk8
sudo: required
android:
  components:
  - platform-tools
  - tools
  - build-tools-25.0.2
  - android-25
  - extra-android-support
  - extra-google-google_play_services
  - extra-android-m2repository
  - extra-google-m2repository
  - addon-google_apis-google-25
  licenses:
  - .+
before_install:
- openssl aes-256-cbc -K $encrypted_cd4db0712ded_key -iv $encrypted_cd4db0712ded_iv
  -in app/ignore.xml.enc -out app/src/main/res/values/ignore.xml -d
- openssl aes-256-cbc -K $encrypted_10f9f6d59221_key -iv $encrypted_10f9f6d59221_iv
  -in app/google-services.json.enc -out app/google-services.json -d
- chmod +x gradlew
- export JAVA8_HOME=/usr/lib/jvm/java-8-oracle
- export JAVA_HOME=$JAVA8_HOME
script:
- ./gradlew build jacocoTestReport
after_success:
- bash <(curl -s https://codecov.io/bash)
notifications:
  email: false
